<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New TodoApp</title>
</head>
<body>
    <h1>New Todos</h1>
    <form method="post" action="/todo/new">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" placeholder="Enter Your Username"/> <br />

        <label for="task">Task: </label>
        <textarea name="task" id="task" placeholder="Enter your Task"></textarea> <br />

        <label for="password">Password: </label>
        <input type="password" id="password" placeholder="Enter your Password" name="password" /> <br />
        <button>Add New Todo</button>
    </form>
    
</body>
</html>